<div id="<%= dom_id(instance) %>">
	<div class="fields_group">
	  <% qadmin_configuration.on_show.model_column_names.each do |attribute| -%>
    <%= labeled_show_column(instance, attribute) %>
    <% end %>
	</div>
</div>